<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <rewrite>
      <rules>
        <rule name="Streamlit WebSocket" stopProcessing="true">
          <match url="^_stcore/stream" />
          <conditions>
            <add input="{HTTP_CONNECTION}" pattern="Upgrade" />
          </conditions>
          <action type="Rewrite" url="http://localhost:8502/{R:0}" />
        </rule>
        <rule name="Streamlit Proxy" stopProcessing="true">
          <match url="(.*)" />
          <action type="Rewrite" url="http://localhost:8502/{R:1}" />
        </rule>
      </rules>
    </rewrite>

    <httpProtocol>
      <customHeaders>
        <add name="X-Forwarded-Proto" value="https" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>
</configuration>
